/* AGD-PATCHED v1 */

.copy {  font-family: "Times New Roman", Times, serif; font-size: 16px}
.heading {  font-family: "Times New Roman", Times, serif; font-size: 16px; font-weight: normal}
.nav {  font-family: "Times New Roman", Times, serif; font-size: 12px}
.legal {  font-family: "Times New Roman", Times, serif; font-size: 10px}
.legal2 {  font-family: "Times New Roman", Times, serif; font-size: 9px}
.boldcopy {  font-family: "Times New Roman", Times, serif; font-size: 16px}
a {  text-decoration: none}
.letters {  font-family: "Times New Roman", Times, serif; font-size: 18pt; font-weight: bold; color: #FF0000}
.boldhed {  font-family: "Times New Roman", Times, serif; font-size: 16px; font-weight: bold; text-decoration: overline}
