<levelList>

<level>
<speed><min>2</min><max>2</max></speed>
<maxSpawn>2</maxSpawn>
<delays><min>50</min><max>150</max></delays>
<wordGoal>5</wordGoal>
<wordList>3</wordList>
<jewels>0</jewels>
<slowDown>5</slowDown>
<freeze>0</freeze>
<clearAnX>5</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>2</min><max>2.25</max></speed>
<maxSpawn>2</maxSpawn>
<delays><min>48</min><max>148</max></delays>
<wordGoal>6</wordGoal>
<wordList>3</wordList>
<jewels>0</jewels>
<slowDown>5</slowDown>
<freeze>0</freeze>
<clearAnX>5</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>2</min><max>2.5</max></speed>
<maxSpawn>3</maxSpawn>
<delays><min>46</min><max>146</max></delays>
<wordGoal>7</wordGoal>
<wordList>3,4</wordList>
<jewels>0</jewels>
<slowDown>5</slowDown>
<freeze>0</freeze>
<clearAnX>5</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>2</min><max>2.75</max></speed>
<maxSpawn>3</maxSpawn>
<delays><min>44</min><max>144</max></delays>
<wordGoal>8</wordGoal>
<wordList>3,4</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>2</min><max>3</max></speed>
<maxSpawn>3</maxSpawn>
<delays><min>42</min><max>142</max></delays>
<wordGoal>9</wordGoal>
<wordList>3,4,5</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>2.25</min><max>3.25</max></speed>
<maxSpawn>3</maxSpawn>
<delays><min>40</min><max>140</max></delays>
<wordGoal>10</wordGoal>
<wordList>3,4,5</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>2.5</min><max>3.5</max></speed>
<maxSpawn>4</maxSpawn>
<delays><min>38</min><max>138</max></delays>
<wordGoal>11</wordGoal>
<wordList>4,5</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>2.75</min><max>3.75</max></speed>
<maxSpawn>4</maxSpawn>
<delays><min>36</min><max>136</max></delays>
<wordGoal>12</wordGoal>
<wordList>4,5</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>3</min><max>4</max></speed>
<maxSpawn>4</maxSpawn>
<delays><min>34</min><max>134</max></delays>
<wordGoal>13</wordGoal>
<wordList>4,5,6</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>


<level>
<speed><min>3.25</min><max>4.25</max></speed>
<maxSpawn>4</maxSpawn>
<delays><min>32</min><max>132</max></delays>
<wordGoal>14</wordGoal>
<wordList>4,5,6</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>


<level>
<speed><min>3.5</min><max>4.5</max></speed>
<maxSpawn>4</maxSpawn>
<delays><min>30</min><max>130</max></delays>
<wordGoal>15</wordGoal>
<wordList>5,6</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>


<level>
<speed><min>3.75</min><max>4.75</max></speed>
<maxSpawn>4</maxSpawn>
<delays><min>28</min><max>128</max></delays>
<wordGoal>16</wordGoal>
<wordList>5,6</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>4</min><max>5</max></speed>
<maxSpawn>5</maxSpawn>
<delays><min>26</min><max>126</max></delays>
<wordGoal>17</wordGoal>
<wordList>5,6,7</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>


<level>
<speed><min>4.25</min><max>5.25</max></speed>
<maxSpawn>5</maxSpawn>
<delays><min>24</min><max>124</max></delays>
<wordGoal>18</wordGoal>
<wordList>5,6,7</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>4.5</min><max>5.5</max></speed>
<maxSpawn>5</maxSpawn>
<delays><min>22</min><max>122</max></delays>
<wordGoal>19</wordGoal>
<wordList>6,7</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>

<speed><min>4.75</min><max>5.75</max></speed>
<maxSpawn>5</maxSpawn>
<delays><min>20</min><max>120</max></delays>
<wordGoal>20</wordGoal>
<wordList>6,7</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>5</min><max>6</max></speed>
<maxSpawn>5</maxSpawn>
<delays><min>18</min><max>118</max></delays>
<wordGoal>21</wordGoal>
<wordList>6,7,8</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>5.25</min><max>6.25</max></speed>
<maxSpawn>5</maxSpawn>
<delays><min>16</min><max>116</max></delays>
<wordGoal>22</wordGoal>
<wordList>6,7,8</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>5.5</min><max>6.5</max></speed>
<maxSpawn>5</maxSpawn>
<delays><min>14</min><max>114</max></delays>
<wordGoal>23</wordGoal>
<wordList>7,8</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

<level>
<speed><min>5.75</min><max>6.75</max></speed>
<maxSpawn>5</maxSpawn>
<delays><min>12</min><max>112</max></delays>
<wordGoal>24</wordGoal>
<wordList>7,8</wordList>
<jewels>0</jewels>
<slowDown>10</slowDown>
<freeze>0</freeze>
<clearAnX>10</clearAnX>
<addaJewel>0</addaJewel>
<stars>10</stars>
</level>

</levelList>
<finalLevel>0</finalLevel>
<speedIncrement>.1</speedIncrement>
<delayMultiplier>.95</delayMultiplier>
<jewelIncrement>.5</jewelIncrement>
<spawnIncrement>.25</spawnIncrement>
<wordGoalIncrement>1</wordGoalIncrement>
<accuracyBonus>1000</accuracyBonus>
<normalPoints>100</normalPoints>
<jewelPoints>100</jewelPoints>
<starPoints>100</starPoints>