/* AGD-PATCHED v2 */
/* AGD-PATCHED v1 */
body {
	font: small Arial, Helvetica, sans-serif;
	color: #222;
	}

/* \*/
* html body {
font-size: 75%;
}
/* */

img {
	border: 0;
	}

ul, ol { 
  margin: 6px 0 36px 0px;
	padding: 0;
	list-style-type: none;
	}
	
.column {
	clear: both;
	font-weight: bold;
}	
	.column li { position: relative; margin: 6px auto; }
	.column li span { position: absolute; top: 0; right: 0; }
	
#hdr {
	clear: both;
	font: 200% "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	color: #F1127C;
	padding: 20px 0px 20px 70px;
	background: #F8D1E4 url(hdrBkgd.gif) top right repeat-y;
}	
	
	/* \*/
	* html #hdr {
	padding-top: 10px;
	}
	/* */
	
#nbrs {
	border-top: 2px solid #000;
	margin: 20px auto;
}

	#nbrs ul {
		font-weight: bold;
	}	
		
.left {
	float:left;
}

.right {
	text-align: right;
	float: right;
}	
	
#content {
	clear: both;
	margin: auto;
}
	
#info li {
	padding-top: 6px;
}

	#info li span {
		font-weight: bold;
	}
		
blockquote {
	text-align:center;
	font-weight: bold;
}

#wrap {
	width: 750px;
	margin: auto;
	font-size: 90%;
	}
	
#product {
	padding: 10px 0 10px 0;
	text-align: center;
	}
	
dt {
	font-weight: bold;
	clear: right;
	padding-top: 8px;
}

#disclaimer {
	font-size: 80%;
}