/* AGD-PATCHED v2 */
/* AGD-PATCHED v1 */
A.quiz:text { text-decoration: none font-family: "Times New Roman", Times, serif; font-size: 12pt}
A.quiz:link { text-decoration: none font-family: "Times New Roman", Times, serif; font-size: 12pt}
A.quiz:visited { text-decoration: none font-family: "Times New Roman", Times, serif; font-size: 12pt}
.body {  font-family: "Times New Roman", Times, serif; font-size: 14px; font-weight: normal; color: #000000}
.bodyred {  font-family: "Times New Roman", Times, serif; font-size: 14px; font-weight: normal; color: #333333}
.bodysmall { font-family: Times New Roman, Times, serif; font-size: 10px}
.boldcopy {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-weight: bold}
.boldhed { font-family: "Times New Roman", Times, serif; font-size: 14px; font-weight: bold; text-decoration: overline}
.copy {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-weight: normal}
.copytext {  font-family: "Times New Roman", Times, serif; font-size: 14px}
.heading { font-family: "Times New Roman", Times, serif; font-size: 16px; font-weight: normal}
.header1 {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #000000}
.header2 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #3399FF}
.instrctn {  font-family: "Times New Roman", Times, serif; font-size: 12px; line-height: 12px}
.instruct {  font-family: "Times New Roman", Times, serif; font-size: 17px; line-height: 17px}
.instrctn1 {  font-family: "Times New Roman", Times, serif; font-size: 12px; line-height: 12px}
.legal {  font-family: "Times New Roman", Times, serif; font-size: 10pt}
.letters { font-family: "Times New Roman", Times, serif; font-size: 12pt; font-weight: bold}
.names { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bold; color: #FFFFFF}
.nav { font-family: "Times New Roman", Times, serif; font-size: 12px}
.response {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; color: #000000}
.subhdr {  font-family: "Times New Roman", Times, serif; font-size: 12px;}
.subjects {  font-family: "Times New Roman", Times, serif; font-size: 13px; font-style: italic; text-decoration: none; color: #000000}
.textnav {  font-family: "Times New Roman", Times, serif; font-size: 11px; line-height: 11px} 
.txtinstr {  font-family: "Times New Roman", Times, serif; font-size: 12px} 
.textnav {  font-family: "Times New Roman", Times, serif; font-size: 11px; line-height: 11px}
.text {  font-family: "Times New Roman", Times, serif; font-size: 16px; line-height: 16px}
.textBold {	font-family: "Times New Roman", Times, serif; font-size: 16px; line-height: 16px;	font-weight: bold;}
.textnav1 {  font-family: "Times New Roman", Times, serif; font-size: 11px; line-height: 11px}
.text1 {  font-family: "Times New Roman", Times, serif; font-size: 16px; line-height: 16px}
.takenote { font-family: "Times New Roman", Times, serif; font-size: 11px; line-height: 11px}