/* AGD-PATCHED v1 */
.heading {	font-family: "Times New Roman", Times, serif; font-size: 15px; line-height: 20px; color: #FFFFFF; font-weight: bold}
.links {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; color: BLACK}
a.textlink {color: BLACK}
a.textlink:visited {color: BLACK}
