/* AGD-PATCHED v1 */
H1 {  font-family: "Times New Roman", Times, serif; font-size: 18px; font-style: normal; font-weight: bold}
H2 {  font-family: "Times New Roman", Times, serif; font-size: 16px; font-style: normal; font-weight: bold}
P {font-family: "Times New Roman", Times, serif; font-size: 14px; font-weight: normal}
OL { list-style-type: decimal; font-family: "Times New Roman", Times, serif}
LI { font-family: "Times New Roman", Times, serif; font-size: 14px; font-weight: normal; padding-top: 7px; padding-bottom: 7px; margin-top: 7px; margin-bottom: 7px}