/* AGD-PATCHED v4 */
P {font-family: "Times New Roman", Times, serif; font-size: 14px; padding-bottom: 0px; padding-top: 0px; line-height: 20px; margin-top: 0px; margin-bottom: 20px}
H1 {font-family: "Times New Roman", Times, serif; font-size: 18px; font-weight: bold; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 5px}
