/* AGD-PATCHED v2 */
/* AGD-PATCHED v1 */

.footer10 {  font-family: "Times New Roman", Times, serif; font-size: 10px }
.footer9 {  font-family: "Arial Narrow", Arial, sans-serif; font-size: 9px }
.footer6 {  font-family: "Times New Roman", Times, serif; font-size: 6px }

