/* AGD-PATCHED v1 */

.nav10 {  font-family: "Times New Roman", Times, serif; font-size: 10px }
.nav9 {  font-family: "Arial Narrow", Arial, sans-serif; font-size: 9px }
.smallsup {  font-family: "Times New Roman", Times, serif; font-size: 6px }

