/* AGD-PATCHED v4 */
P.nav {font-family: "Times New Roman", Times, serif; font-size: 10px;}
P.legal {  font-family: "Arial Narrow", Arial, sans-serif; font-size: 9px}
A.fnav:LINK { color: #B32447; font-family: "Times New Roman", Times, serif; font-size: 10px}
A.fnav:ACTIVE { color: #B32447; font-family: "Times New Roman", Times, serif; font-size: 10px} 
A.fnav:VISITED { color: #B32447; font-family: "Times New Roman", Times, serif; font-size: 10px}